
 
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            background-color: #091921;
        }

        p {
            color: #B5B5C3;
            font-size: 75%;
        }

        h4 {
            font-size: 85%;
            color: #464E5F;
            margin-bottom: 3px;
        }

        button {
            width: 108px;
            height: 34px;
            border-radius: 6px;
            border: 0;
            font-family: Poppins;
            font-weight: 600;
            font-size: 65%;
            cursor: pointer;
            color: #fff;
            transition: 250ms;
        }

        .btn-light { background: #3699FF;}
        .btn-light:hover { background: #2380dd;}
        .btn-dark { background: #F64E60;}
        .btn-dark:hover { background: #da3747;}
        .btn-product {
            background: #C9F7F5;
            color: #1BC5BD;
        }
        .btn-product:hover {background: #94fffa;}

        .container {
            background-color: #fff;
            border-radius: 12px;
            width: 85%;
            margin: 30px auto;
            padding: 32px;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 34px;
        }

        .herotext-box h2{
            font-size: 140%;
            font-weight: 500;
            line-height: 21px;
            margin-bottom: 12px;
        }

        .btn-container {
            display: flex;
            gap: 15px;
        }

        .product-titles, .product {
            display: grid;
            grid-template-columns: repeat(7,1fr);
        }

        .product-titles h3:first-child {
            grid-column: 1 / 3;
            color: #464E5F;
        } 

        .product-titles {
            border-radius: 6px;
            background: #F3F6F9;
            padding: 12px 24px;
            margin-bottom: 24px;
            gap: 30px;
        }

        .product-titles h3 {
            font-size: 75%;
            font-weight: 600;
            text-transform: uppercase;
            color: #B5B5C3;
        }

        .product {
            gap: 10px;
            margin-bottom: 20px;
            padding-left: 24px;
        }
        .product:last-of-type { margin-bottom: 0px; }

        .title { grid-column: 1 / 3; }

        .title img {
            background-blend-mode: multiply;
            background-color: #F3F6F9;
            float: left;
            padding: 0 3px;
            padding-top: 5px;
            margin-right: 10px;
            border-radius: 6px;
        }

        .company p { display: inline-block; }

        .fa {
            color: #FFA800;    
            font-size: 80%;
        }

        .unchecked { opacity: 0.3; }

        .product button { justify-self: end; }

        @media (max-width: 1160px) {
            .product, .product-titles { grid-template-columns: repeat(6,1fr); }
            .product button { display: none; }
            body { font-size: 17px; }
        }


        @media (max-width: 900px) {
            .product, .product-titles { grid-template-columns: repeat(5,1fr); }
            .product-titles h3:nth-child(5), .rating  { display: none; }
        }    

        @media (max-width: 750px) {
            .product, .product-titles { grid-template-columns: repeat(4,1fr); }
            .product-titles h3:nth-child(4) , .company  { display: none; }
        }    

        @media (max-width: 600px) {
            .product, .product-titles { grid-template-columns: repeat(3,1fr); }
            .product-titles h3:nth-child(3) , .comission  { display: none; }
            .btn-light { display: none;}
        }    

        @media (max-width: 450px) {
            body { font-size: 15px; }
            .container { padding: 16px 12px;}
        }    
