
Requirements
-- Tools
	1. Install python 3 
	2. Any IDE's, I have used Pycharm IDE.

-Modules required
	Array Module (inbuilt)
		This module defines an object type which can compactly represent 
	an array of basic values: characters, integers, floating point numbers.

- Steps to run:
1. Install python 3
2. Open the IDE or python console 
3. Enter $ python3 File_name.py to run the code.

IDE:- 
  I have used PyCharm, it is a dedicated Python Integrated Development Environment (IDE) 
providing a wide range of essential tools for Python developers, tightly integrated 
to create a convenient environment for productive Python, web, and data science development.

Requirements
-- Tools
	1. Install python 3 
	2. Any IDE's, I have used Pycharm IDE.

-Modules required
	Array Module (inbuilt)
		This module defines an object type which can compactly represent 
	an array of basic values: characters, integers, floating point numbers.

- Steps to run:
1. Install python 3
2. Open the IDE or python console 
3. Enter $ python3 File_name.py to run the code.

IDE:- 
  I have used PyCharm, it is a dedicated Python Integrated Development Environment (IDE) 
providing a wide range of essential tools for Python developers, tightly integrated to 
create a convenient environment for productive Python, web, and data science development.

