body{
  padding-top: 15%;
  text-align: center;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.container{
 margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



h1{
  font-family: 'Poppins', sans-serif;
}

.count{
  background: black;
  width: 100px;
  height: 120px;
  border-radius: 15px;
 font-size: 6em;
  color: white;
}

p{
  width: 10px;
  font-family: 'Poppins', sans-serif;
}

.text{
 width: 210px;
 font-size: 1.5em;
font-family: 'Poppins', sans-serif;
}