click==8.0.4
dataclasses==0.8
Flask==2.0.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
numpy==1.19.5
scikit-learn==0.24.2
scipy==1.5.4
sklearn==0.0
threadpoolctl==3.1.0
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
