@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    box-sizing: border-box;
}

body{
    background:#11537c;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 80vh;
    margin: 0;
    overflow: hidden;

}
h1{
    margin-top:50px;
}
.game-container{
    padding:20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
    
}
.figure-container{
    fill:transparent;
    stroke:#fff;
    stroke-width:4px;

    
}
.figure-part{
    display: none;
}

.wromg-letters-container{
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    flex-direction: column;
    align-items:right;

}

.wromg-letters-container p{
    margin:0 0 5px;
    
}
.wromg-letters-container span{
    font-size: 25px;
}

.hint{
    font-size: 20px;
    text-align: center;
}

.word{
    display:flex;
    position:absolute;
    bottom:-20px;
    left:30%;
    text-align: center;
    

}
.letter{
    border-bottom:3px solid #2980b9;
    display:inline-flex;
    font-size:30px;
    align-items: center;
    justify-content: center;
    margin:0 3px;
    margin-top: 20px;
    height: 50px;
    width:20px
}
.popup-container{
    background-color: rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;

}
.popup{
    background: #1876b0;
    border-radius: 5px;
    box-shadow: 0 15px 3px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;

}
.popup button{
    cursor:pointer;
    border-radius: 5px;
    margin-top: 20px;
    border:0px !important;
    padding:12px 20px;
    font-size:16px;


}
.play-again{
    background-color: #ffffdd;
    color:#2980b9;
}
.quit{
    background-color:#9f1625;
    
}

.quit a{
    color: #ffffff;
    text-decoration: none;
    font-size:16px;
}
.popup button:active{
    transform: scale(0.98);

}
.popup button:focus{
    outline:0;
}
.notification-container{
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom:-50px;
    transition: transform 0.3s ease-in-out;


}
.notification-container p{
    margin:0;

}
.notification-container.show{
    transform:translateY(-50px);
}