:root {
  --general-color:rgb(120, 73, 231);
  --logo-color-1:hsl(199, 100%, 10%);
  --logo-color-2:orangered;
  --footer-link-color:#222;
  --warning-color:rgb(158, 0, 0);
  --info-color:rgb(0, 33, 141);
  --nav-border-color:rgb(218, 181, 255);
  --nav-heading-color:#666;
  --home-logged-bg:rgb(242, 242, 242);
  --color-white:#fff;
  --input-color:rgb(248, 248, 248);
  --btn-color-1:rgb(177, 24, 185);
  --btn-color-2:rgb(128, 66, 199);
  --btn-hover-color-1:rgb(216, 10, 226);
  --btn-hover-color-2:rgb(109, 47, 255);
  --grad-color-1:rgb(255, 47, 0);
  --grad-color-2:rgb(131, 83, 226);
  --grad-color-3:rgb(156, 109, 250);
  --label-color:#444;
  --input-border-color:rgb(172, 172, 172);
  --btn-shadow-color:rgb(242, 0, 255);
  --h1-color:hsl(250deg, 80%, 10%);
  --h3-color:rgb(58, 50, 92);
  --profile-para-color:rgb(55, 48, 70);
  --h6-color:rgb(127, 139, 185);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  position: relative;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  font: 400 1em/1.6 "Roboto", sans-serif;
}

::-moz-selection {
  color: var(--color-white);
  background-color: var(--general-color);
}

::selection {
  color: var(--color-white);
  background-color: var(--general-color);
}

/*************************
APPLICATION HEADER
************************/
.header--section {
  background-color: var(--color-white);
  padding: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.header--fixed {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}

.logo__link p {
  font-weight: 700;
  font-family: "Lora", sans-serif;
  font-style: italic;
  color: var(--logo-color-1);
  font-size: 1.2em;
  margin-left: .5em;
}

.logo__link p span {
  color: var(--logo-color-2);
}

.logo__image {
  height: 3em;
  display: block;
  margin-left: .5em;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
}

/*********
Navigation when user is not logged in
*********/
.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: var(--general-color);
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.navigation__link:hover, .navigation__link:focus {
  opacity: .65;
}

.navigation__home__link {
  padding: .25em .4em;
  margin-right: .25em;
}

.navigation__home__link i {
  font-size: 1.3em;
}

.navigation__user__wrapper {
  padding: 0 .55em;
  border-right: 2px solid var(--nav-border-color);
  border-left: 2px solid var(--nav-border-color);
}

.navigation__user__link {
  padding: .25em .3em;
}

.navigation__user__link:first-child {
  margin-right: .25em;
}

.navigation__about__btn {
  padding: .25em;
  margin-left: .75em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  letter-spacing: .06em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--general-color);
}

.navigation__about__btn span {
  text-transform: uppercase;
  margin-right: .25em;
}

.navigation__about__btn:hover {
  opacity: .75;
  cursor: pointer;
}

.navigation__application__stuffs {
  top: 4.6em;
  right: 0;
  position: fixed;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1.5em;
  border-top: 2px solid var(--nav-border-color);
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  -webkit-box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(20em);
          transform: translateX(20em);
  opacity: 0;
  -webkit-transition: opacity 500ms ease,-webkit-transform 400ms ease-in-out;
  transition: opacity 500ms ease,-webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out,opacity 500ms ease;
  transition: transform 400ms ease-in-out,opacity 500ms ease,-webkit-transform 400ms ease-in-out;
}

.navigation__application__stuffs h4 {
  font-weight: 700;
  font-family: 'Nunito',sans-serif;
  font-size: .75em;
  word-spacing: .25em;
  letter-spacing: .06em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--nav-heading-color);
  margin-bottoM: 1em;
  color: var(--nav-heading-color);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation__application__show__stuffs {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.navigation__application__link {
  margin-bottom: .35em;
  padding: .2em;
  letter-spacing: .06em;
}

.navigation__application__link i {
  margin-right: .5em;
}

.navigation__application__link span {
  word-spacing: .15em;
}

.navigation__application__link .fa-address-book {
  margin-right: .7em;
}

.navigation__application__link:last-child {
  margin-bottom: 0;
}

/*********
Navigation when user is logged in
*********/
.navigation__user__profile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: .75em;
  color: var(--general-color);
  margin-right: .25em;
  border-left: 2px solid var(--nav-border-color);
  padding-left: 1.2em;
}

.navigation__user__profile__wrapper img {
  display: inline-block;
  height: 3.2em;
  width: 3.2em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: .15em solid currentColor;
  margin-right: .75em;
}

.navigation__user__profile__wrapper:hover {
  cursor: pointer;
  opacity: .65;
}

/**************************
LINK TO REACH ON TOP OF PAGE
**************************/
/**************************
APPLICATION FOOTER
***************************/
.footer--section {
  background-color: #cdfff6;
  padding: 2em 1.5em;
}

.footer__logo__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 2em;
}

.footer__logo__link p {
  font-weight: 700;
  font-family: "Lora", sans-serif;
  color: var(--logo-color-1);
  font-style: italic;
  font-size: 1.5em;
  margin-left: .5em;
}

.footer__logo__link p span {
  color: var(--logo-color-2);
}

.footer__logo__image {
  height: 4.5em;
  display: block;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
}

.footer__links__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 1.5em;
  margin-bottom: 2em;
}

.footer__links__section h2 {
  font-family: "Lora", sans-serif;
  -webkit-text-decoration: .13em underline currentColor;
          text-decoration: .13em underline currentColor;
  text-underline-offset: .2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__navigation__first, .footer__navigation__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__navigation__first {
  margin-right: 5em;
}

.footer__navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: var(--footer-link-color);
  margin: .25em 0;
  font-weight: 600;
  letter-spacing: .06em;
  display: inline-block;
}

.footer__navigation__link i {
  margin-right: .5em;
}

.footer__navigation__link .fa-user-plus {
  margin-right: .35em;
}

.footer__navigation__link:hover, .footer__navigation__link:focus {
  opacity: .6;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social__link {
  text-decoration: none;
  display: inline-block;
}

.social__link i {
  font-size: 1.5em;
  color: var(--footer-link-color);
  padding: .2em;
  border-radius: 50%;
  border: .1em solid currentColor;
}

.social__link .fa-facebook-f {
  padding: .2em .4em;
}

.social__link:hover i,
.social__link:focus i {
  opacity: .75;
}

.social__link:not(.social__link:last-child) {
  margin-right: 1em;
}

.need__help__wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  margin-bottom: 1.5em;
}

.need__help__wrapper a {
  text-decoration: none;
  color: var(--general-color);
  display: inline-block;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.1em;
}

.need__help__wrapper a:hover, .need__help__wrapper a:focus {
  -webkit-text-decoration: .12em underline currentColor;
          text-decoration: .12em underline currentColor;
  text-underline-offset: .15em;
}

.copyright__wrapper h3 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 1.1em;
  text-align: center;
}

/***************************
MESSAGE STYLING
***************************/
.msg {
  font-size: 1.1em;
  font-weight: 500;
}

.msg--wrapper {
  position: absolute;
  top: 4.7em;
  left: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
}

.msg--container {
  padding: .35em 1em;
  text-align: center;
}

.msg--warning--container {
  background-color: rgba(255, 181, 181, 0.7);
}

.msg--info--container {
  background-color: rgba(197, 186, 255, 0.7);
}

.msg__hide__btn {
  background-color: transparent;
  display: inline-block;
  margin-left: .5em;
  border: none;
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: .2em;
}

.msg__hide__btn:hover, .msg__hide__btn:focus {
  cursor: pointer;
}

.warning__msg {
  color: var(--warning-color);
}

.info__msg {
  color: var(--info-color);
}

.warning__hide__btn {
  color: var(--warning-color);
}

.info__hide__btn {
  color: var(--info-color);
}

/***************************
MEDIA QUERIES FOR RESPONSIVE DESIGN
***************************/
@media (max-width: 480px) {
  body {
    font-size: .9em;
  }
  .navigation__application__stuffs {
    top: 4.7em;
  }
  .navigation__user__link span {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: .95em;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 1.05em;
  }
  .header--section {
    padding: .8em 2em;
  }
  .footer--section {
    padding: 2.5em;
  }
  .footer__links__section {
    -ms-grid-columns: 4fr 2fr 2fr;
        grid-template-columns: 4fr 2fr 2fr;
    margin-bottom: 1.5em;
  }
  .footer__navigation__first {
    margin-right: 3.5em;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 1.1em;
  }
  .footer--section {
    padding: 2.5em 3em;
  }
}
