/*************************
LOGIN FORM SECTION
**************************/
.form {
  border: .12em dashed #888;
  padding: 2em 1.5em;
}

.form--main {
  width: 90%;
  max-width: 640px;
  margin: 8em auto 3em;
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23e7dbfb' fill-opacity='0.5' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  font-family: 'Poppins',sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: .45em;
}

.form legend {
  display: block;
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: 'Nunito',sans-serif;
  font-weight: 700;
  color: var(--general-color);
  letter-spacing: .1em;
  position: relative;
}

.form legend::after, .form legend::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30%;
  height: .2em;
  border-radius: 50%;
}

.form legend::after {
  right: 0;
  left: 60%;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(30%, var(--grad-color-1)), color-stop(50%, var(--grad-color-2)), to(var(--grad-color-3)));
  background-image: linear-gradient(to top right, var(--grad-color-1) 30%, var(--grad-color-2) 50%, var(--grad-color-3));
}

.form legend::before {
  left: 10%;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(30%, var(--grad-color-1)), color-stop(50%, var(--grad-color-2)), to(var(--grad-color-3)));
  background-image: linear-gradient(to top left, var(--grad-color-1) 30%, var(--grad-color-2) 50%, var(--grad-color-3));
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

.form__group label {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--label-color);
  line-height: 1.35;
  letter-spacing: .05em;
}

.form__group input {
  width: 100%;
  padding: .6em .7em;
  font-family: 'Roboto',sans-serif;
  letter-spacing: .75px;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--input-color);
  border-radius: .25em;
  border: none;
  border: 0.1em solid var(--input-color);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  outline: none;
}

.form__group input:focus {
  border-color: var(--input-border-color);
}

.form__group span {
  font-family: 'Poppins',sans-serif;
  font-size: .7em;
  font-weight: 600;
  letter-spacing: .02em;
  color: #ce2727;
}

.form__remember__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .8em;
}

.form__remember__group label {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--label-color);
  line-height: 1.35;
  margin-left: .6em;
  letter-spacing: .05em;
}

.form__submit__group {
  margin-bottom: 1em;
}

.form__submit__group input[type="submit"] {
  margin-top: 1em;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--btn-color-1)), to(var(--btn-color-2)));
  background-image: linear-gradient(to top, var(--btn-color-1), var(--btn-color-2));
  color: var(--color-white);
  width: 100%;
  padding: .75em;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
  border: none;
  font-size: 1em;
  letter-spacing: .05em;
  -webkit-box-shadow: 0 0 4px var(--btn-shadow-color);
          box-shadow: 0 0 4px var(--btn-shadow-color);
  position: relative;
  border-radius: .35em;
}

.form__submit__group input[type="submit"]:hover, .form__submit__group input[type="submit"]:focus {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--btn-hover-color-1)), to(var(--btn-hover-color-2)));
  background-image: linear-gradient(to top, var(--btn-hover-color-1), var(--btn-hover-color-2));
}

.form ::-webkit-input-placeholder {
  font-style: italic;
}

.form :-ms-input-placeholder {
  font-style: italic;
}

.form ::-ms-input-placeholder {
  font-style: italic;
}

.form ::placeholder {
  font-style: italic;
}

.password__field {
  position: relative;
  width: 100%;
}

.password__field i {
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--label-color);
  cursor: pointer;
}

.register__link__section {
  margin-top: .5em;
}

.register__link__section a {
  text-decoration: none;
  color: var(--general-color);
  font-weight: 600;
  display: inline-block;
}

.register__link__section a:hover, .register__link__section a:focus {
  -webkit-text-decoration: .12em underline currentColor;
          text-decoration: .12em underline currentColor;
  text-underline-offset: .2em;
}
