/************************
PROFILE SUB SECTION 2
*************************/
.profile--main--container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  background-color: var(--color-white);
  font-family: 'Poppins',sans-serif;
}

.profile__sub__container__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__header__img__container {
  width: 100%;
  height: 20em;
}

.profile__header__img__container img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__avatar__img__container {
  position: relative;
}

.profile__avatar__img__container .avatar__container {
  text-align: Center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.profile__avatar__img__container .avatar__container h2 {
  font-family: 'Nunito',sans-serif;
  color: var(--h1-color);
  line-height: 1.1;
}

.profile__avatar__img__container .avatar__container p {
  color: var(--general-color);
}

.profile__navigation {
  top: 3.5em;
  right: -13em;
  position: absolute;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em .75em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  border-radius: .5em;
}

.profile__navigation__hidden {
  display: none;
}

.profile__navigation__link {
  margin-bottom: .4em;
  padding: .2em .1em;
  letter-spacing: .03em;
  display: inline-block;
  text-decoration: none;
  color: var(--general-color);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.profile__navigation__link:hover, .profile__navigation__link:focus {
  opacity: .65;
}

.profile__navigation__link i {
  margin-right: .2em;
}

.profile__navigation__link:last-child {
  margin-bottom: 0;
}

.avatar__container a {
  height: 11em;
  width: 11em;
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.avatar__container a img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile__btn {
  position: absolute;
  top: 1em;
  right: -7.5em;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: .35em;
}

.profile__btn i {
  font-size: 1.5em;
  padding: .25em .35em;
  color: var(--general-color);
  background-color: #f8edff;
}

.profile__btn:hover i {
  background-color: #eae6ff;
  cursor: pointer;
}

/***************************
PROFILE SUB CONTAINER TWO
***************************/
.profile__sub__container__two {
  margin-top: 7em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: .75em;
  padding: 3em 2em;
  color: var(--profile-para-color);
}

.profile__sub__container__two i {
  margin-right: .5em;
}

.join__date__container {
  color: #3f3a43;
}

.follow__details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.follow__details__container .followers__btn {
  margin-right: 1em;
}

.follow__details__container button {
  color: var(--h1-color);
  background: transparent;
  display: block;
  font-weight: 700;
  border: none;
  font-size: 1em;
  font-family: inherit;
}

.follow__details__container button:hover, .follow__details__container button:focus {
  opacity: .7;
  cursor: pointer;
}

/**************************
PROFILE USER POSTS SECTION
*************************/
.profile__user__posts {
  max-width: 540px;
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 2em;
}

.profile__user__posts__container {
  background-color: var(--home-logged-bg);
  padding: 2em 0;
}

.profile__user__posts article {
  width: 100%;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.profile__user__posts article:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.create__post__btn {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--btn-color-1)), to(var(--btn-color-2)));
  background-image: linear-gradient(to top, var(--btn-color-1), var(--btn-color-2));
  color: var(--color-white);
  padding: 1em;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
  border: none;
  font-size: 1.2em;
  letter-spacing: .05em;
  -webkit-box-shadow: 0 0 4px var(--btn-shadow-color);
          box-shadow: 0 0 4px var(--btn-shadow-color);
  border-radius: .35em;
  text-align: center;
}

.create__post__btn__container {
  width: 100%;
  max-width: 540px;
  margin: 2em auto;
}

.create__post__btn:hover, .create__post__btn:focus {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--btn-hover-color-1)), to(var(--btn-hover-color-2)));
  background-image: linear-gradient(to top, var(--btn-hover-color-1), var(--btn-hover-color-2));
}

.create__post__btn i {
  margin-right: .6em;
}

.post {
  /***************************
POST AUTHOR RELATED STYLING
***************************/
  /****************************
POST BUTTONS RELATED STYLING
*****************************/
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
}

.post__author__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__author__img__wrapper a {
  text-decoration: none;
  display: block;
  margin-right: .6em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.post__author__img__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 50%;
  border: 2px solid var(--general-color);
}

.post__author__name__container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post__author__name__container div a {
  text-decoration: none;
  display: block;
}

.post__author__name__container .author__name {
  font-size: .9em;
  color: var(--h1-color);
  line-height: 1.3;
}

.post__author__name__container .author__name:hover, .post__author__name__container .author__name:focus {
  opacity: .65;
}

.post__author__name__container span {
  line-height: 1.2;
  font-size: .75em;
  display: block;
  color: #636166;
  font-weight: 600;
}

.post__related__btn__links__container {
  position: relative;
}

.post__related__btn__links__container .sideNavShowBtn,
.post__related__btn__links__container .sideNavHideBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.post__related__btn__links__container .sideNavShowBtn i,
.post__related__btn__links__container .sideNavHideBtn i {
  padding: .15em;
}

.post__related__btn__links__container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -1em;
  right: -1em;
  width: 8em;
  background-color: #f3ecff;
  padding: 2em .75em 1em;
  -webkit-clip-path: polygon(var(--x, 100%) 0, 100% 0, 100% 100%, var(--x, 100%) 100%);
          clip-path: polygon(var(--x, 100%) 0, 100% 0, 100% 100%, var(--x, 100%) 100%);
  -webkit-transition: -webkit-clip-path 200ms ease-in-out;
  transition: -webkit-clip-path 200ms ease-in-out;
  transition: clip-path 200ms ease-in-out;
  transition: clip-path 200ms ease-in-out, -webkit-clip-path 200ms ease-in-out;
}

.post__related__btn__links__container div a {
  font-size: .9em;
  text-decoration: none;
  display: block;
  color: var(--general-color);
}

.post__related__btn__links__container div a i {
  margin-right: .2em;
}

.post__related__btn__links__container div a:hover, .post__related__btn__links__container div a:focus {
  opacity: .7;
  cursor: pointer;
}

.post__related__btn__links__container div > a {
  margin-bottom: .25em;
}

.post__related__btn__links__container div .sideNavHideBtn {
  position: absolute;
  top: .75em;
  right: 1em;
}

.show__post__sidenav {
  --x:0;
}

/***************************
POST ASSETS
***************************/
.post__content__container {
  padding: 0 1em;
}

.post__content__container a {
  text-decoration: none;
  display: block;
  color: #333;
  font-family: 'Nunito',sans-serif;
  line-height: 1.5;
  font-size: 1em;
  margin-bottom: .5em;
}

.post__image__container a {
  text-decoration: none;
  display: block;
}

.post__image__container img {
  width: 100%;
  display: block;
}

/************************
LIKE AND COMMENT BTNS
*************************/
.post__footer {
  border-top: 1px solid var(--input-border-color);
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.heart__btn,
.comment__btn {
  text-decoration: none;
  display: block;
  color: #3f3d4f;
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
}

.heart__btn span,
.comment__btn span {
  font-size: .85em;
}

.heart__btn__active {
  color: var(--grad-color-1);
}

/***********************
MEDIA QUERIES
************************/
@media (min-width: 720px) {
  .profile__btn {
    right: -8.5em;
  }
}
