* {
  background-color: skyblue;
}

#title {
  text-align: center;
}

#Display {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid black;
  height: 50px;
  width: 700px;
  background-color: white;
  text-align: center;
}

#quotebutton {
  margin-left: 47%;
  margin-top: 2%;
  padding: 5px;
  color: black;
  background-color: lightgray;
}
