.job {
  color: #43afff;
}

.home {
  color: #ffffff;
  position: absolute;
  left: 50px;
  align-items: flex-start;
  font-family: Helvetica Neue;
  top: 105px;
}

.start {
  position: absolute !important;
  left: 100px;
  top: 221px;
}

.image {
  width: 622px;
  position: absolute;
  right: 50px;
  top: 55px;
}
