.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: rgba(1, 1, 1, 0.9);
}

.nav_logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}

.nav_avatar {
  width: 30px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}
