*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    background-color: rgb(0, 4, 255);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.timer{
    font-family: sans-serif;
    color: rgb(255, 196, 58);
    font-size: 4rem;
    font-weight: bold;
}

.container{
    width: 60%;
    height: max-content;
    background-color: rgb(230, 165, 14);
    padding: 2em;
    margin-top: 3em;
    border-radius: 10px;
}

.container .quote{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    margin-left: 1rem;
    margin-right: -1rem;
}

.container .input{
    width: 100%;
    min-height: 50%;
    max-height: fit-content;
    margin-top: 2em;
    font-size: 1.4rem;
    font-family: sans-serif;
    padding: 0.5rem 1rem;
}

.button{
    padding: 1em;
    background-color: blue;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    width: 20%;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    /* float: right; */
}

.start{
    float: left;
}

.next{
    float: right;
}

.correct{
    color: green;
    text-decoration: underline; 
}

.incorrect{
    color: red;
    text-decoration: underline;
}