* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

h2 {
    background-color: black;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
}

button {
    background-color: rgb(102, 89, 89);
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}