h1 {
  text-align: center;
}

.converter-body{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.converter-body:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.select-button{
  width: 100%;
  background-color: blue;
  color: white;
}

option{
  background-color: white;
  color: black;
}

#submit-button{
  width: 100%;
  padding: 8px 0px 8px 0px;
  background-color: blue;
  color: white;
}

*{
  padding: 5px 0px 5px 0px;
  margin: 8px 0px 8px 0px;
  border-radius: 5px;
}

.increasefont{
  font-size: 20px;
}

#inp-box {
  width: 100%;
  padding: 10px 0px 10px 0px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
