*{
	padding: 0;
	margin: 0;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 250% 250%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.searchContainer{
	margin-top: 25px;
}

h1{
	text-decoration: underline;
}

.card{
	box-shadow: 5px 5px 15px black;

}

button:hover{
	transform: scale(1.5);
	transition: 0.5s;
}