*{
    width: 100px;
}
img{
    margin: 0px 20px;
    height: 500px;
    width: 500px;
    transform: transform 5s;
}
#first{
    
}
#first:hover{
   /* transform: rotate(10deg); */
   top: 100px;
    transform: scale(1.1);
    border: 10px solid blue;
    border-radius: 50px;
    box-shadow: 20px 20px 5px black;
}