beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
comtypes==1.1.10
idna==3.2
pypiwin32==223
pyttsx3==2.90
pywin32==301
requests==2.26.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
urllib3==1.26.6
wikipedia==1.4.0
