@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.input {
  width: 80%;
}
